window.bar {
    background-color: transparent;
    color: @theme_fg_color;
    transition: all 0.5s ease-out;
}

button {
    min-width: 0;
    padding: 0 0.3rem;
    background-color: transparent;
    transition: all 0.5s ease-out;
}

/*button:hover {
    border-bottom: 3px solid @theme_fg_color;
    color: @theme_bg_color;
    background: linear-gradient(45deg, @insensitive_fg_color, @theme_selected_bg_color);
}*/

label {
    font-weight: bold;
}

.power-profile {
  background-color: @theme_bg_color;
  color: @theme_selected_bg_color;
  border-radius: 15px 40px 15px 40px;
  padding: 0px 15px;
  opacity: 0.9;
  margin-top: 0.2px;
}

.power-profile:hover {
    color: @theme_bg_color;
    background: linear-gradient(45deg, @insensitive_fg_color, @theme_selected_bg_color);
}

.info-bars {
  background-color: @theme_bg_color;
  color: @theme_selected_bg_color;
  border-radius: 15px 40px 15px 40px;
  padding: 0px 15px;
  opacity: 0.9;
  margin-top: 0.2px;
}

.info-child {
  padding-left: .5rem;
}

.workspace-button {
  min-width: 20px;
  border-radius: 50%;
  background-color: transparent;
}

.sys-tray {
  background-color: @theme_bg_color;
  color: @theme_selected_bg_color;
  border-radius: 40px 0px 0px 15px;
  padding: 0px 1rem 0rem 1rem;
  opacity: 0.9;
  margin-top: 0.2px;
}

.volume {
  background-color: @theme_bg_color;
  color: @theme_selected_bg_color;
  border-radius: 40px 15px 40px 15px;
  padding: 0px .5rem 0px 1rem;
  opacity: 0.9;
  margin-top: 0.2px;
}

.revealerButton {
  border: 0;
  padding: 0;
  color: @theme_fg_color;
  background-color: transparent;
  margin-top: 0.2px;
}

.revealerButton:hover {
  color: @theme_selected_bg_color;
  opacity: 0.9;
}

.clock {
  background-color: @theme_bg_color;
  color: @theme_selected_bg_color;
  border-radius: 40px 15px 40px 15px;
  padding: 0px 20px;
  opacity: 0.9;
  margin-top: 0.2px;
}

.battery {
  background-color: @theme_bg_color;
  color: @theme_selected_bg_color;
  border-radius: 40px 15px 40px 15px;
  padding: 0px 20px;
  opacity: 0.9;
  margin-top: 0.2px;
}

.battery-low {
  background-color: @theme_selected_bg_color;
  color: @theme_bg_color;
  border-radius: 40px 15px 40px 15px;
  padding: 0px 20px;
  opacity: 0.9;
  margin-top: 0.2px;
}

.media {
  background-color: @theme_bg_color;
  color: @theme_selected_bg_color;
  border-radius: 15px 40px 15px 40px;
  padding: 0px 20px;
  opacity: 0.9;
  margin-top: 0.2px;
}

.media:hover {
    color: @theme_bg_color;
    background: linear-gradient(45deg, @insensitive_fg_color, @theme_selected_bg_color);
}

.workspaces {
  opacity: 0.9;
  background-color: @theme_bg_color;
  border-radius: 0px 40px 15px 0px;
  padding: 0rem 1rem 0rem .5rem; 
  margin-top: 0.2px;
}

.workspaces button.focused {
    border-bottom: 3px solid @theme_selected_bg_color;
    color: @theme_selected_bg_color;
    /*color: @theme_bg_color;
    background: linear-gradient(45deg, @insensitive_fg_color, @theme_selected_bg_color);*/
}

.workspaces button:hover {
  border-bottom: 3px solid @theme_fg_color;
 
}

.client-title-box {
  background-color: @theme_bg_color;
  opacity: 0.9;
  padding: 0px 20px;
  border-radius: 15px;
  margin-top: 0.2px;
}

.client-title {
  color: @theme_selected_bg_color;
}

block.empty {
  background-color: transparent;
}

levelbar block,
highlight {
    min-height: 5px;
    border-radius: 3px;
}

/* #1EADC9 #3BCACE */
