window.bar {
    background-color: transparent;
    color: @theme_fg_color;
}

button {
    min-width: 0;
    padding: 0 0.3rem;
    background-color: transparent;
}

button:active {
    background-color: @theme_selected_bg_color;
}

button:hover {
    border-bottom: 3px solid @theme_fg_color;
}

label {
    font-weight: bold;
}

.power-profile {
  background-color: @theme_bg_color;
  color: @theme_selected_bg_color;
  border-radius: 15px 50px 15px 50px;
  padding: 0px 15px;
  opacity: 0.8;
  margin-top: 0.2px;
}

.info-bars {
  background-color: @theme_bg_color;
  color: @theme_selected_bg_color;
  border-radius: 15px 50px 15px 50px;
  padding: 0px 15px;
  opacity: 0.8;
  margin-top: 0.2px;
}

.info-child {
  padding-left: .5rem;
}

.workspace-button {
  min-width: 20px;
  border-radius: 50%;
  background-color: transparent;
}

.sys-tray {
  background-color: @theme_bg_color;
  color: @theme_selected_bg_color;
  border-radius: 15px 0px 0px 50px;
  padding: 0px 1rem 0rem 1rem;
  opacity: 0.8;
  margin-top: 0.2px;
}

.volume {
  background-color: @theme_bg_color;
  color: @theme_selected_bg_color;
  border-radius: 15px 50px 15px 50px;
  padding: 0px .5rem 0px 1rem;
  opacity: 0.8;
  margin-top: 0.2px;
}

.clock {
  background-color: @theme_bg_color;
  color: @theme_selected_bg_color;
  border-radius: 15px 50px 15px 50px;
  padding: 0px 20px;
  opacity: 0.8;
  margin-top: 0.2px;
}

.battery {
  background-color: @theme_bg_color;
  color: @theme_selected_bg_color;
  border-radius: 15px 50px 15px 50px;
  padding: 0px 20px;
  opacity: 0.8;
  margin-top: 0.2px;
}

.battery-low {
  background-color: @theme_selected_bg_color;
  color: @theme_bg_color;
  border-radius: 15px 50px 15px 50px;
  padding: 0px 20px;
  opacity: 0.8;
  margin-top: 0.2px;
}

.media {
  background-color: @theme_bg_color;
  color: @theme_selected_bg_color;
  border-radius: 15px 50px 15px 50px;
  padding: 0px 20px;
  opacity: 0.8;
  margin-top: 0.2px;
}

.media-label {
  color: @theme_selected_bg_color;
  opacity: 1;
}

.workspaces {
  opacity: 0.8;
  background-color: @theme_bg_color;
  border-radius: 0px 50px 15px 0px;
  padding: 0rem 1rem 0rem .5rem; 
  margin-top: 0.2px;
}

.workspaces button.focused {
    border-bottom: 3px solid @theme_selected_bg_color;
}

.client-title-box {
  background-color: @theme_bg_color;
  opacity: 0.8;
  padding: 0px 20px;
  border-radius: 50px 15px 50px 15px;
  margin-top: 0.2px;
}

.client-title {
  color: @theme_selected_bg_color;
}

block.empty {
  background-color: transparent;
}

levelbar block,
highlight {
    min-height: 5px;
    border-radius: 3px;
}
